* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3535ec;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  line-height: 1.5;
}

.container {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 18px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #f70d68;
}
